[Unit]
Description=Servicio para executar o script actualizar
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/actualizar
